@model Wing_Fleet_Manager.ViewModel.VehuclesViewModel

@* Page Layout *@
<div class="container-fluid">
    <div class="row mt-3 d-flex justify-content-between align-items-center g-3">
        @* Page Header *@
        <div class="col-12 col-lg-4">
            <h2><i class="fa-solid fa-motorcycle my-3" style="margin-right:10px"></i> Vehicles Management</h2>
        </div>
        <div class="col-12 col-lg-1 mt-2 text-end">
            <button class="btn btn-primary" style="background-color:#0097A7; border-color:#0097A7" data-bs-toggle="modal" data-bs-target="#createVehicle"><i class="fa-solid fa-plus"></i></button>
        </div>
    </div>

    @*vehicles Table*@
    <div class="row">
        @{
            int index = 1;
        }
        <table class="table table-striped table-hover align-middle my-3">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Qr</th>
                    <th>Type</th>
                    <th>Company</th>
                    <th>Zone</th>
                    <th>Active?</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var vehicle in Model.Vehicles)
                {
                    <tr>
                        <td>@index</td>
                        <td>@vehicle.Qr</td>
                        <td>@vehicle.Type</td>
                        <td>@vehicle.Company</td>
                        <td>
                            
                            @{
                                var zoneName = Model.ZonesEnum?.FirstOrDefault(z => z.Id == vehicle.ZoneId)?.Name;
                            }
                            @if (!string.IsNullOrEmpty(zoneName))
                            {
                                @zoneName
                            }
                            else
                            {
                                <span class="text-muted">No Zone</span>
                            }
                        </td>
                        <td>
                            @if (vehicle.IsActive)
                            {
                                <span class="badge bg-success">Active</span>
                            }
                            else
                            {
                                <span class="badge bg-danger">In Active</span>
                            }
                        </td>
                        <td>@if (vehicle.Status == VehicleStatus.Working)
                            {
                                <span class="badge bg-success">Working</span>
                            }
                            else if (vehicle.Status == VehicleStatus.UnderMaintenance)
                            {
                                <span class="badge bg-warning">Under Maintenance</span>
                            }
                            else
                            {
                                <span class="badge bg-danger">Faulty</span>
                            }
                        </td>
                        
                        <td>
                            <button class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#readvehicle_@vehicle.Id">
                                <i class="fa-solid fa-eye"></i>
                            </button>
                            <button class="btn btn-sm btn-secondary" data-bs-toggle="modal" data-bs-target="#updatevehicle_@vehicle.Id">
                                <i class="fa-solid fa-pen"></i>
                            </button>
                            <button class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#deletevehicle_@vehicle.Id">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                    index++;
                }
            </tbody>
        </table>
    </div>

    @*Read Vehicle Modal*@
    @foreach (var vehicle in Model.Vehicles)
    {
        <div class="modal fade" id="readvehicle_@vehicle.Id">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>Read Vehicle Info</h4>
                        <button class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row justify-content-center align-content-center my-3">
                                <div class="col-12 col-lg-12">
                                    <div class="card p-3">
                                        <h4>Vehicle Qr : @vehicle.Qr</h4>
                                        <h5>Mac : @vehicle.Mac</h5>
                                        <h5>Imei : @vehicle.Imei</h5>
                                        <h5>Vehicle Type : @vehicle.Type</h5>
                                        <h5>Company : @vehicle.Company</h5>
                                        @if(Model.ZonesEnum != null)
                                        {
                                            foreach(var zone in Model.ZonesEnum)
                                            {
                                                <h5>Zone : @zone.Name</h5>
                                            }
                                        }
                                        <h5>Active? : @vehicle.IsActive</h5>
                                        <h5>Status : @vehicle.Status</h5>
                                        <h5>Created At : @vehicle.CreatedAt.ToLocalTime()</h5>
                                        <h5>Last Updated At : @vehicle.LastUpdatedAt.ToLocalTime()</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer"></div>
                </div>
            </div>
        </div>
    }


    @*Create Vehicle Modal*@
    <div class="modal fade" id="createVehicle">
        <div class="modal-dialog modal-lg  modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Create New Vehicle</h4>
                    <button class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form asp-action="Create" asp-controller="Vehicles" method="post" id="createVehicleform">
                        @Html.AntiForgeryToken()
                        <div class="p-3">
                            <input type="text" asp-for="vehicleCreateDto.Qr" class="form-control" placeholder="Vehicle Qr" />
                            <span asp-validation-for="vehicleCreateDto.Qr" class="text-danger"></span>
                        </div>
                        <div class="p-3">
                            <select class="form-control" asp-for="vehicleCreateDto.Type"
                                    asp-items="Html.GetEnumSelectList<VehicleType>()">
                            </select>
                        </div>
                        <div class="p-3">
                            <select class="form-control" asp-for="vehicleCreateDto.Company"
                                    asp-items="Html.GetEnumSelectList<VehicleCompany>()">
                            </select>
                        </div>
                        <div class="p-3">
                            <input type="number" asp-for="vehicleCreateDto.Imei" class="form-control" placeholder="Vehicle Imei" />
                            <span asp-validation-for="vehicleCreateDto.Imei" class="text-danger"></span>
                        </div>
                        <div class="p-3">
                            <input type="text" asp-for="vehicleCreateDto.Mac" class="form-control" placeholder="Vehicle Mac" />
                            <span asp-validation-for="vehicleCreateDto.Mac" class="text-danger"></span>
                        </div>
                        <div class="p-3">
                                <input type="checkbox" asp-for="vehicleCreateDto.IsActive" />
                                <label>Active?</label>
                        </div>
                        <div class="p-3">
                            <select class="form-control" asp-for="vehicleCreateDto.Status"
                                    asp-items="@Html.GetEnumSelectList<VehicleStatus>()">
                            </select>
                        </div>

                        <div class="p-3">
                            <select class="form-control" asp-for="vehicleCreateDto.ZoneId">
                                <option value="">Select Zone</option>
                                @if(Model.ZonesEnum!= null)
                                {
                                    @foreach(var zone in Model.ZonesEnum)
                                    {
                                        <option value="@zone.Id">@zone.Name</option>
                                    }
                                }
                             </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit" form="createVehicleform">Create</button>
                    <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    @*Update Vehicle Modal*@
    @foreach (var vehicle in Model.Vehicles)
    {
        <div class="modal fade" id="updatevehicle_@vehicle.Id">
            <div class="modal-dialog modal-xl modal-dialog-scrollable" >
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>Update Vehicle</h4>
                        <button class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <form asp-action="Update" asp-controller="Vehicles" id="updateForm_@vehicle.Id">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="Id" value="@vehicle.Id" />
                            <div class="px-3">
                                <label>Qr</label>
                                <input class="form-control" name="Qr" value="@vehicle.Qr" type="text"  />
                            </div>
                            <div class="px-3 pt-2">
                                <label>Imei</label>
                                <input class="form-control" name="Imei" value="@vehicle.Imei" type="number" />
                            </div>
                            <div class="px-3 pt-2">
                                <label>Mac</label>
                                <input class="form-control mt-1" name="Mac" value="@vehicle.Mac" type="text" />
                            </div>
                            <div class="px-3 pt-2">
                                <label>Is Active?</label>
                                <input class="mt-1" type="checkbox" name="IsActive" value="true" @(vehicle.IsActive ? "checked" : "") />
                            </div>
                            <div class="px-3 pt-2 ">
                                <label>Type</label>
                                <select class="form-control" name="Type" asp-for="@vehicle.Type"
                                        asp-items="Html.GetEnumSelectList<VehicleType>()">
                                </select>
                            </div>
                            <div class="px-3 pt-2 ">
                                <label>Company</label>
                                <select class="form-control" name="Company" asp-for="@vehicle.Company"
                                        asp-items="Html.GetEnumSelectList<VehicleCompany>()">
                                </select>
                            </div>
                            <div class="px-3 pt-2 ">
                                <label>Status</label>
                                <select class="form-control" name="Status" asp-for="@vehicle.Status"
                                        asp-items="@Html.GetEnumSelectList<VehicleStatus>()">
                                </select>
                            </div>

                            <div class="modal-footer">
                                <button class="btn btn-primary btn-sm" type="submit">Update</button>
                                <button class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    }


    @*Delete Vehicle Modal*@
    @foreach (var vehicle in Model.Vehicles)
    {
        <div class="modal fade" id="deletevehicle_@vehicle.Id">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>Delete Vehicle</h4>
                        <button class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <p>
                            Do you want to remove this Vehicle ?
                        </p>
                    </div>
                    <div class="modal-footer">
                        <form asp-action="Delete" asp-controller="Vehicles" method="post">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="id" value="@vehicle.Id" />
                            <button class="btn btn-danger" type="submit">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }


    @*Pagination*@
    <div class="row mt-2 d-flex justify-content-end fixed-bottom">
        <div class="col-lg-2">
            @Html.PagedListPager(
            Model.Vehicles,
                        page => Url.Action("Index", new { page = page }),
                        new PagedListRenderOptions
                        {
                            LiElementClasses = new[] { "page-item" },
                            PageClasses = new[] { "page-link" },
                        }
                        )
        </div>
    </div>
</div>